<div class="d-flex">
  
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifts...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure autem dolor quod asperiores veniam placeat accusantium iusto necessitatibus quia, aliquam, consequatur vel odio impedit cumque minima in nesciunt, natus aliquid.
      </div>
    </div>
  </div>
</div>
